{% extends "base.html" %}
{% block content %}
    <div class="detail">
        {% if product_list %}
            <table id="example" class="display" width="100%" cellspacing="0" align="right">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Price</td>
                    <td>Likes</td>
                </tr>
                </thead>
                <tfoot>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Likes</td>
                </tfoot>
                <tbody>
                {% for p in product_list %}

                    <tr>
                        <td data-search="{{ p.name }}"><a href="{% url 'product:detail' p.slug %}">{{ p.name }}</a></td>
                        <td>{{ p.description }}</td>
                        <td>{{ p.price }}$</td>
                        <td>{{ p.rate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No Products</p>
        {% endif %}
    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
{% endblock %}